@import url('https://fonts.googleapis.com/css?family=Oswald');

.RaceHeader {
    font-family: 'Oswald', sans-serif;
    font-size: 30pt;
    display:flex;
    justify-content: center;
    margin-top:30px;
    margin-bottom: 60px;
}

.QualifyingResults {
    width: 80%;
    display:flex;
    flex-direction: column;
    align-items: top;
}